:root {
  --bg: #181825;
  --cards-bg: #1e1e2e;
  --border: #313244;
  --text: #cdd6f4;
  --accent-color: #cba6f7;
  --muted-text: #a6adc8;
}
body.light {
  --bg: #e6e9ef;
  --cards-bg: #eff1f5;
  --border: #ccd0da;
  --text: #4c4f69;
  --accent-color: #8839ef;
  --muted-text: #5c5f77;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Cairo", sans-serif;
  padding: 2rem 1rem;
  line-height: 1.6;
  transition: all ease 0.3s;
}
.icon {
  position: sticky;
  top: 20px;
  left: 30px;
  cursor: pointer;
  background: var(--cards-bg);
  color: var(--accent-color);
  padding: 10px;
  border-radius: 50%;
  transition: all ease 0.2s;
}
header {
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 2rem;
}
h1 {
  font-size: 2.5rem;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}
h1.title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.9rem;
}
h4 {
  color: var(--muted-text);
  font-weight: 500;
}
.arabic {
  direction: rtl;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  margin-bottom: 2rem;
}
.font-card {
  background-color: var(--cards-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    transform 0.2s ease,
    border-color 0.2s ease;
}
.font-card:hover {
  border-color: var(--accent-color);
  transform: translateY(-10px);
}
.font-card .card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed var(--border);
  padding-bottom: 0.75rem;
}
.font-card .font-name {
  font-weight: 700;
  font-size: 1.2rem;
}
.font-card .font-category {
  font-size: 0.85rem;
  background-color: var(--border);
  color: var(--accent-color);
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
}
.font-card .font-preview {
  margin-bottom: 1.5rem;
  min-height: 80px;
  word-wrap: break-word;
  font-size: 1.2rem;
}
.font-card .font-preview textarea {
  background: var(--cards-bg);
  outline: none;
  color: var(--text);
  font-size: 1.2rem;
  border: none;
  width: 100%;
  resize: none;
}
.font-card .download-button {
  background: var(--cards-bg);
  padding: 4px 19px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 7px;
  text-decoration: none;
  transition: all ease 0.2s;
}
.font-card .download-button:hover {
  background: var(--accent-color);
  color: var(--bg);
}
.footer {
  text-align: center;
  color: var(--muted-text);
}
.footer p {
  font-size: 0.7rem;
}

.cairo-preview textarea {
  font-family: "Cairo";
}
.ibm-arabic-preview textarea {
  font-family: "IBM Plex Sans Arabic";
}
.amiri-preview textarea {
  font-family: "Amiri";
}
.tajawal-preview textarea {
  font-family: "Tajawal";
}
.lalezar-preview textarea {
  font-family: "lalezar";
}
.alex-preview textarea {
  font-family: "Alexandria";
}
.nastaliq-preview textarea {
  font-family: "Noto Nastaliq Urdu";
}
.inter-preview textarea {
  font-family: "Inter";
}
.mont-preview textarea {
  font-family: "Montserrat";
}
.poppins-preview textarea {
  font-family: "Poppins";
}
.jetbrains-preview textarea {
  font-family: "JetBrains Mono";
}
.iosevka-preview textarea {
  font-family: "Iosevka Charon";
}
.shoulders-preview textarea {
  font-family: "Big Shoulders";
}
.playfair-preview textarea {
  font-family: "Playfair Display";
}
.abril-preview textarea {
  font-family: "Abril Fatface";
}
.baskerville-preview textarea {
  font-family: "Libre Baskerville";
}
.garamond-preview textarea {
  font-family: "Cormorant Garamond";
}
